# Django
SECRET_KEY=change-me-to-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com,localhost
DJANGO_SETTINGS_MODULE=config.settings.production

# PostgreSQL
POSTGRES_DB=clinic_db
POSTGRES_USER=clinic_user
POSTGRES_PASSWORD=change-me
DATABASE_URL=postgresql://clinic_user:change-me@db:5432/clinic_db

# CORS
CORS_ALLOWED_ORIGINS=https://yourdomain.com,http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://91.243.71.139:8090
USE_HTTPS=False

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
